* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  min-height: 100vh;
  background: linear-gradient(135deg, #000428, #004e92);
  overflow: hidden;
}

.hidden {
  display: none;
}